<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <!-- loop over the collection of products-->
                <div *ngFor="let product of products" class="col-md-3">
                    <div class="product-box">
                        <a routerLink="/products/{{ product.id }}">
                            <img src="{{ product.imageUrl }}" alt="" class="img-responsive">
                        </a>
                        <a routerLink="/products/{{ product.id }}">
                            <h1>{{ product.name }}</h1>
                        </a>
                        <div class="price">{{ product.unitPrice | currency:'USD' }}</div>
                        <button (click)="addToCart(product)" class="btn btn-primary btn-sm">Add to card</button>
                    </div>
                </div>
            </div>

            <!-- if  products empty then display a message -->
            <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                No products found.
            </div>
        </div>
    </div>
    <div class="footer-pagination">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-9" style="padding-left: 30%;">
                        <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize"
                            [collectionSize]="theTotalElements" (pageChange)="getProductList()" [boundaryLinks]="true">
                        </ngb-pagination>
                    </div>
                    
                    <div class="col-md-3 mt-2" style="text-align: center; padding-right: 10%;">
                        <span class="mr-2">Page Size</span>
                        <select (change)="updatePageSize($event.target.value)">
                            <option>5</option>
                            <option selected=true>10</option>
                            <option>20</option>
                            <option>50</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>